<%= form_for [@user,@survey_result] do |f| %>
  <% if @survey_result.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@survey_result.errors.count, "error") %> prohibited this survey_result from being saved:</h2>

      <ul>
      <% @survey_result.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<!--   <div class="field">
    <%= f.label :survey_id %><br>
    <%= f.text_field :survey_id %>
  </div>
  <div class="field">
    <%= f.label :user_id %><br>
    <%= f.text_field :user_id %>
  </div> -->
  <div class="field">
    <%= f.label :total_E %><br>
    <%= f.text_field :total_E %>
  </div>
  <div class="field">
    <%= f.label :total_I %><br>
    <%= f.text_field :total_I %>
  </div>
  <div class="field">
    <%= f.label :total_S %><br>
    <%= f.text_field :total_S %>
  </div>
  <div class="field">
    <%= f.label :total_N %><br>
    <%= f.text_field :total_N %>
  </div>
  <div class="field">
    <%= f.label :total_T %><br>
    <%= f.text_field :total_T %>
  </div>
  <div class="field">
    <%= f.label :total_F %><br>
    <%= f.text_field :total_F %>
  </div>
  <div class="field">
    <%= f.label :total_J %><br>
    <%= f.text_field :total_J %>
  </div>
  <div class="field">
    <%= f.label :total_P %><br>
    <%= f.text_field :total_P %>
  </div>
  <div class="field">
    <%= f.label :survey_answers %><br>
    <%= f.text_field :survey_answers %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
