<h1>Personality Types</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Title</th>
      <th>Message</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @personality_types.each do |personality_type| %>
      <tr>
        <td><%= personality_type.name %></td>
        <td><%= personality_type.title %></td>
        <td><%= link_to 'Show', personality_type_path(personality_type) %></td>
        <td><%= link_to 'Edit', edit_personality_type_path(personality_type) %></td>
        <td><%= link_to 'Destroy', personality_type_path(personality_type), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Personality Type', new_personality_type_path %>
